@model IEnumerable<IslamSandhesham.Models.Content>
@{
    ViewBag.Title = "Info";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .chr {
        background: #304352; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #d7d2cc, #304352); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #d7d2cc, #304352); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .content-background {
        /*background: #42275a;
        background: -webkit-linear-gradient(to right, #734b6d, #42275a);
        background: linear-gradient(to right, #734b6d, #42275a);*/
        background: #FEAC5E; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #4BC0C8, #C779D0, #FEAC5E); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
    .bg-image {
        background-image: url('../../Content/images/bg_icon_trim.png');
    }
</style>
<div class="">
    <div class="col-12 col-md-12 row mt-5 mb-5 text-dark px-0 mx-0">
        @foreach (var item in Model.OrderBy(w => w.Button_Id))
        {
            <div class="col-12 col-sm-12 col-md-5 col-lg-5 mt-5 ml-md-3 p-0">
                <div class="card custom-card">
                    @*style="height:300px"*@
                    <h5 class="card-header content-background" style="color:navajowhite">@item.Heading</h5>

                    <div class="card-body bg-image" style="font-size:18px;overflow:auto;background-color:#385563">
                        @*<h5 class="card-title">Card title</h5>*@
                        @if (item.ArabicText != null)
                        {
                            <p class="card-text  p-2 " style="color:#ffd07b; border-radius:10px;font-family: 'Lateef', cursive; font-size:25px;background-color:#344f5b"> @item.ArabicText</p>
                        }

                        <div class="text-white" style="font-family: 'Sree Krushnadevaraya', serif;">
                            <p class="card-text text-white"> @Html.Raw(Server.HtmlDecode(item.Info)) </p>
                        </div>

                    </div>
                </div>
            </div>
        }

    </div>
    <div class="text-center">
        @*<button class="btn btn-info" onclick="location.href='@Url.Action("Index", "Home")';return false;">Home</button>*@
        <a class="btn btn-info" href="javascript:void(0);" onclick="history.go(-1);">Back to Topics</a>
    </div>
</div>
@*<p class="card-text bg-info p-2 " style="color:#ffd07b; border-radius:10px;font-family: 'Markazi Text', serif; font-size:22px"> @item.ArabicText</p>*@


<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#loader").hide();
    });
</script>
